<div class="row">
    <div class="col-sm-4 offset-sm-4">
   <div class="card card-body">
  <form >
    <div class="form-group">
            <input type="text" name="nombre" [(ngModel)]="area.nombre" class="form-control" placeholder="Nombre de sala" autofocus required>
    </div>
    <div class="form-group">
        <input type="text" name="asistente" [(ngModel)]="area.asistente" class="form-control" placeholder="Asistente" autofocus required>
</div>
<button (click)="editar()" class="btn btn-info">
    Editar
  </button>
  </form>
   </div>
    </div>
  </div>